.directory-root {
  width: 100%;
  overflow: hidden;
  --directory-animation-duration: 300ms;
}

.directory-folder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  width: 100%;
  cursor: pointer;
  height: 32px;
  padding: 4px;
  background-color: inherit;
  border-radius: var(--gap-md);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  margin-bottom: 4px;
  outline: none !important;
  border: none !important;
}

.directory-folder[data-dir-active="true"] {
  background: var(--black-5, rgba(28, 28, 28, 0.05));
}
.dark .directory-folder[data-dir-active="true"] {
  background: var(--black-5, rgba(255, 255, 255, 0.1));
}

.directory-folder:hover,
.directory-folder:focus-visible {
  background: var(--black-5, rgba(28, 28, 28, 0.05));
}

.dark .directory-folder:hover,
.dark .directory-folder:focus-visible {
  background: var(--black-5, rgba(255, 255, 255, 0.1));
}

.directory-folder > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.directory-chevron-wrapper {
  transition: transform var(--directory-animation-duration)
    cubic-bezier(0.87, 0, 0.13, 1);
}
.directory-folder[data-state="open"] > .directory-chevron-wrapper {
  transform: rotate(90deg);
}

.directory-folder-details {
  display: flex;
  align-items: center;
}

.directory-content {
  padding-left: 32px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    height: var(--radix-accordion-content-height);
  }
  to {
    opacity: 0;
    height: 0;
  }
}

.directory-content[data-state="open"] {
  animation: slideDown var(--directory-animation-duration) ease-out;
}

.directory-content[data-state="closed"] {
  animation: slideUp var(--directory-animation-duration) ease-out;
}
