.dashboard-search-form {
  width: 160px;
  height: 100%;
  border-radius: var(--gap-md);
  background-color: rgba(28, 28, 28, 0.05);
  padding: 0 8px;
}

.dashboard-search-form > input {
  width: 100%;
  height: 100%;
  padding: var(--gap-xs) 0;
  border-radius: var(--gap-md);
  outline: none;
  border: none;
  background-color: transparent !important;
  color: inherit;
}

.dark .dashboard-search-form {
  background-color: rgba(255, 255, 255, 0.1);
}
