.contact-book-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.contact-wrapper {
  height: 32px;
  padding: var(--gap-xs);
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.contact-header-wrapper {
  height: 36px;
  padding: var(--gap-md) var(--gap-xs);
}

.contact-header {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
}

.contact-wrapper > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.contact-wrapper {
  height: 32px;
  padding: var(--gap-xs);
  display: flex;
  align-items: center;
  gap: var(--gap-md);
}

.contact-header-wrapper {
  height: 36px;
  padding: var(--gap-md) var(--gap-xs);
}

.contact-header {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
}

.contact-wrapper > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
